@font-face {
    font-family: 'villairregular';
    src: url('font/Villa-Irregular.woff2') format('woff2'),
         url('font/Villa-Irregular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'villaregular';
    src: url('font/Villa-Regular.woff2') format('woff2'),
         url('font/Villa-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*
-----------------------------------

Reset -> Eric Meyer
+ border-box sur tous les éléments
+ html et body 100%

-----------------------------------
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

:root {
  --grande-taille: 6.5vw;
  --main-color: #61f5baff;
  --minor-color: #161650ff;
  --mini-color: #ff0066ff;
}

html{
  background: var(--main-color);
  color: var(--minor-color);
  font-family: "villaregular";
  font-size: 1.4vw;
}

main{
  height: 98vh;
  width: 100vw;
}

#titre{
  position: fixed;
  left:0;
  right: 60vw;
  bottom:75vh;
  top:0;
  background: var(--main-color);
  border-bottom: 1px solid var(--mini-color);
  border-right: 1px solid var(--mini-color);
}
#grandTitre{
  display: grid;
  font-size: var(--grande-taille);
  height:17vh;
}
#grandTitre span{
  justify-self: center;
  align-self: center;
}
#petitTitre{
  border-top: 1px solid var(--mini-color);
}


#temps{
  border-bottom: 1px solid var(--mini-color);
  position: fixed;
  background: var(--main-color);
  left:39.4vw;
  right:39.4vw;
  top:0;
  bottom:75vh;
}

#download-svg{
  position: fixed;
  bottom:1em;
  right:1em;
}
#erase{
  position: fixed;
  bottom:1em;
  right:20em;
}

#dessin{
  position: fixed;
  left:60vw;
  right:0;
  top:0;
  bottom:0;
  border-left: 1px solid var(--mini-color);
}

#liste{
z-index: -104;
position: absolute;
left:0;
right:39.5vw;
top:25vh;
}
#liste ul{
  margin: 0;
  list-style: none;
}
#liste ul li{
  height: 2em;
  border-bottom: 1px solid var(--mini-color);
}
#liste ul li span{
  display: inline-block;
}
#liste ul li .nomLettre{
  width: 10%;
  border-right: 1px solid var(--mini-color);
}
canvas{
  position: absolute;
  left: 10%;
  width: 80%;
  top: 5%;
  height: 90%;
  border: 1px solid var(--mini-color);
}
canvas[resize] {

}
#name{
  position: fixed;
  top:1em;
  right:20em;
}
